BasedOnStyle: Google
Language: Cpp
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
SpacesBeforeTrailingComments: 1
SortIncludes: true
IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
BinPackArguments: false
BinPackParameters: false
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 100
PenaltyBreakFirstLessLess: 100
PenaltyBreakString: 100
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 100
